﻿@model ArFashion.Models.Project
@{
    var imgPath = WC.ImagePath + Model.Image;
    var modelPath = WC.ModelPath + Model.Model;
}

<div id="view3d-wrapper">
    <div class="demo-wrapper">

        <div class="demo-desc-placeholder">
            <div class="demo-desc-wrapper">
                <h1 class="demo-title">FloorARSession</h1>
                <h2 class="demo-subtitle">
                    Fallback with <a href="https://developers.google.com/ar/develop/java/scene-viewer">Google SceneViewer</a> and <a href="https://developer.apple.com/augmented-reality/quick-look/">Apple AR Quick Look</a>
                </h2>
                <p class="demo-desc">Place you model on a detected floor</p>
            </div>
        </div>
    </div>
    <div class="view3d-canvas-wrapper">
        <canvas id="view3d-canvas"></canvas>
    </div>
</div>

<script>
        var {
            THREE,
            GLTFLoader,
            AutoDirectionalLight,
            ShadowPlane,
            Pose,
            OrbitControl,
            FloorARSession,
            SceneViewerSession,
            QuickLookSession,
        } = View3D;
        var view3d = new View3D('#view3d-canvas');
        var loader = new GLTFLoader();
        var textureLoader = new View3D.TextureLoader(view3d.renderer);
    textureLoader.loadHDRTexture("/images/project/urban_alley_01_2k.hdr", true).then(texture => {
        view3d.scene.setBackground(texture);
        view3d.scene.setEnvMap(texture);
    }).catch(e => console.error(e));

    ////////////////////////////OVDE UCITATI NOVU TEKSTURU////////////////////// //
    var loadedTexture = new THREE.TextureLoader().load('@imgPath');
    ////////////////////////////////////////////////////////////////////////////
        var light1 = new AutoDirectionalLight(0xffffff, 1.5, {
        direction: new THREE.Vector3(0.5, -2, -1)
    });

    view3d.scene.addEnv(light1);
    view3d.camera.setDefaultPose(new Pose(-45, 20, 100));

        var dressMaterial = new THREE.MeshStandardMaterial({
        map: loadedTexture,
    });

    view3d.controller.add(new OrbitControl());
    ////////////////////////////OVDE UCITATI NOVI MODEL//////////////////////
    /**/
        loader.load('@modelPath')
        /**/
        ////////////////////////////////////////////////////////////////////////////
        .then(model => {
            view3d.display(model, {
                size: 60
            });
            model.meshes[1].castShadow = false;
            view3d.animator.play(0);
            model.meshes[2].material = dressMaterial;
        });

        Prism.highlightAll();
</script>

