﻿@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>

@*<style>
    .text-center {
        height: 500px;
        width:500px;
        background-image: url('/images/project/loader-cross-white-1x.png');
        background-repeat: repeat;
    }
</style>*@