﻿@model ArFashion.Models.Project

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    Upload Image
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    Upload Model
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox1" multiple class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
            </div>

            <a asp-controller="Project" asp-action="Index" class="btn btn-success w-25"> <i class="fas fa-sign-out-alt"></i> &nbsp;Back</a>
            <input type="submit" class="btn btn-primary w-25" asp-controller="Project" asp-action="CreatedProject" value="Submit" />

        </div>
    </div>
</form>


