﻿@model IEnumerable<ArFashion.Models.Project>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Project List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Project" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Project
            </a>
        </div>
    </div>

    <br />
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Model
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="20%">@obj.Name</td>
                        <td><img src="@WC.ImagePath@obj.Image" class="offset-3" style="width:80px; height:50px;" /></td>
                        <td width="20%">@obj.Model</td>
                        <td width="20%">
                            <a asp-controller="Project" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger w-100">
                                <i class="far fa-trash-alt"></i> &nbsp; Delete
                            </a>
                        </td>
                        <td width="20%">
                            <a asp-controller="Project" asp-action="ViewCreated" asp-route-id="@obj.Id" class="btn btn-primary w-100">
                                <i class="far fa-eye"></i> &nbsp; View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No projects exists.</p>
    }

</div>

        @section Scripts{
                <script>

                </script>
        }
