﻿@model ArFashion.Models.Project

<html>
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#2D3142">
    <link rel="shortcut icon" type="~/image/png" href="favicon.png" />
    <link rel="stylesheet" href="~/common.css">
    <link rel="stylesheet" href="~/ar.css">
    <link rel="stylesheet" href="~/prism.css">
    <script src="~/view3d.pkgd.js"></script>
    <script src="~/prism.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

    <select class="btn btn-secondary dropdown-toggle" aria-label="Default select example" id="dropdown">
        @{

            foreach (var item in ViewBag.projects)
            {
                @if (@Model.Id == @item.Id)
                {
                    <option value="@item.Id" selected="selected" class="dropdown-item">
                        @Model.Name
                    </option>
                    continue;
                }
                <option value="@item.Id" class="dropdown-item">
                    @item.Name
                </option>
            }
        }
    </select>

    <br />
    <br />

    <div id="arPartial" style="height:700px;">
        <div id="loadingDiv">
            <img src="~/images/project/200w.webp" alt="Loading" class="imgLoader"/>
        </div>
    </div>
</body>

</html>
@section Scripts{

    <script>

        var $loading = $('#loadingDiv').hide();
        $(document)
            .ajaxStart(function () {
                $loading.show();
            })
            .ajaxStop(function () {
                $loading.hide();
            });

        $(document).ready(function () {
            $.ajax({
                url: "/Project/ViewPartial",
                type: 'GET',
                data: { id: $("#dropdown").val() },
                datatype: "json",
                success: function (response) {
                    $('#arPartial').html(response);
                },
                error: function (xhr) {
                    console.log($("#dropdown").val());
                    alert("Something went wrong, please try again");
                }
            });

            $('#dropdown').on('change', function () {
                $.ajax({
                    url: "/Project/ViewPartial",
                    type: 'GET',
                    data: { id: $("#dropdown").val() },
                    datatype: "json",
                    success: function (response) {
                        $('#arPartial').html(response);
                    },
                    error: function (xhr) {
                        console.log($("#dropdown").val());
                        alert("Something went wrong, please try again");
                    }
                });
            });
        });

    </script>
}

<style>
    #loadingDiv {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #050206;
    }
    .imgLoader {
        position: absolute;
        top: 250px;
        left: 450px;
    }
</style>