#ar-button {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  position: absolute;

  bottom: 0;
  padding: 5px 15px 5px 5px;
  margin: 20px;
  color: var(--bg-color);
  font-weight: bold;
  box-sizing: border-box;
  border: 3px solid var(--bg-color);
  border-radius: 25px;
  user-select: none;
}

#red-button {
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  padding: 5px 50px 5px 50px;
  margin: 5px;
  color: var(--bg-color);
  font-weight: bold;
  box-sizing: border-box;
  border: 3px solid var(--bg-color);
  border-radius: 25px;
  border-color: #a8a8a8;
  user-select: none; 
}
#black-button {
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  padding: 5px 50px 5px 50px;
  margin: 5px;
  color: var(--bg-color);
  font-weight: bold;
  box-sizing: border-box;
  border: 3px solid var(--bg-color);
  border-radius: 25px;
  border-color: #a8a8a8;
  user-select: none;
}
#white-button {
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  padding: 5px 50px 5px 50px;
  margin: 5px;
  color: var(--bg-color);
  font-weight: bold;
  box-sizing: border-box;
  border: 3px solid var(--bg-color);
  border-radius: 25px;
  border-color: gray;
  user-select: none;
}

#red-button:hover, #red-button:active
{
  background-color: red;
}
#black-button:hover, #black-button:active
{
  background-color: black;
  color: gray;
}
#white-button:hover, #white-button:active
{
  background-color: gray;
  color: white;
}

#color-button {
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    color: var(--bg-color);
    font-weight: bold;
    box-sizing: border-box;
     
  }

#ar-icon {
  width: 50px;
  height: 50px;
}
#ar-icon path {
  stroke: var(--bg-color);
}
@media screen and (max-width: 768px) {
  #ar-button {
    font-size: 12px;
    padding: 3px 9px 3px 3px;
    border: 2px solid var(--bg-color);
  }
  #red-button {
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    border: 2px solid var(--bg-color);
  }
  #black-button {
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    border: 2px solid var(--bg-color);
  }
  #white-button {
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    border: 2px solid var(--bg-color);
  }
  #ar-icon {
    width: 25px;
    height: 25px;
  }
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  user-select: none;
}
#xr-close {
  position: absolute;
  top: 10px;
  left: 10px;
}
#close-icon {
  width: 30px;
  height: 30px;
}
#place-button {
  display: none;
  position: absolute;
  bottom: 20px;
  border: 5px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

#loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
